---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=3&lang=en&q=happy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="BQ5NVEGuc6PiSEXWQQra3JVLNjUN4PO9CS1zt57epc",
        oauth_signature="vYrct8elltTxluzCwyaMIXv7f%2FA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377485731", oauth_token="1672554398-m0VpYgcLfnrqz0CxdabdYMK8ow9TFlivT2pyL1f",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 26 Aug 2013 02:55:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '172'
      X-Rate-Limit-Reset:
      - '1377485897'
      X-Transaction:
      - 9d5778307f96ec05
    body:
      encoding: US-ASCII
      string: ! '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Aug 26 02:55:20 +0000 2013","id":371828176655503361,"id_str":"371828176655503361","text":"If
        that doesn''t make you \"happy\" (; then something is wrong with you! http:\/\/t.co\/BTKfPBEqsc","source":"\u003ca
        href=\"http:\/\/instagram.com\" rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":290229997,"id_str":"290229997","name":"ARTPOP
        11.11","screen_name":"Caleb_LG","location":"Under Gaga''s burqa (; . NC","description":"Junior.
        Little Monster till the end. Die heart Gaga fan all the way!! ARTPOP will
        slay this year!  ARTPOP 11.11","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1224,"friends_count":1824,"listed_count":3,"created_at":"Fri
        Apr 29 23:24:50 +0000 2011","favourites_count":2127,"utc_offset":-10800,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":5496,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"BADFCD","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/378800000031605130\/0cf3c8402c146e4945a7bf40d896a4cf.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/378800000031605130\/0cf3c8402c146e4945a7bf40d896a4cf.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000359622651\/cb12dd2d47939ff8864080f1c98008a1_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/378800000359622651\/cb12dd2d47939ff8864080f1c98008a1_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/290229997\/1360804454","profile_link_color":"F08409","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/BTKfPBEqsc","expanded_url":"http:\/\/instagram.com\/p\/dddkDzj8Qz\/","display_url":"instagram.com\/p\/dddkDzj8Qz\/","indices":[70,92]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Aug 26 02:55:20 +0000 2013","id":371828176650899456,"id_str":"371828176650899456","text":"\u201c@richwilkersonjr:
        So many of us settle for happy now rather than happily ever after\u201d","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":37182150091697356[...]
